.keyboard {
  width: 914px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px;

  background: linear-gradient(180deg, #D5BFAF 0%, #60534B 100%);
  border: 1px solid rgba(0 0 0 / 10%);
  border-radius: 7px;
  box-shadow: 0px 5px 10px rgba(9 29 68 / 50%), 
  inset 0px 1px 1.2px 1px #2D2E31;
}

.keyboard-wrapper {
  background: 
  url('./assets/images/crevice-top-left.svg') top left no-repeat,
  url('./assets/images/crevice-top-right.svg') top right no-repeat,
  url('./assets/images/crevice-bottom-left.svg') bottom left no-repeat,
  url('./assets/images/crevice-bottom-right.svg') bottom right no-repeat,
  linear-gradient(180deg, #D3BFB1 0%, #918177 100%);
  border: 0.4px solid rgba(39 54 64 / 26%);
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(9 29 68 / 80%),
  0px 6px 10px 10px rgba(91 89 100 / 80%),
  inset 0px 1px 1.2px 1px rgba(221 231 251 / 70%);
  padding: 24px;
}
