@use 'sass:map';

@import "../abstracts/variables";
@import "../abstracts/mixins";

// TODO: remove before release
#webpack-dev-server-client-overlay {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
